
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.new-grid{
    width: 5vw;
    position: absolute;
    top: 5%;
}

.container{
    border: 5px solid black;
    height: 65vh;
    width: 60vw;
    margin-top: 10%;
    display: grid;
}

.gridSquare {
    border: 1px solid black;
}

.hovered {
    background-color: rgb(150, 147, 147);
}